In [2]:
import  pandas as pd
import numpy as np
import sklearn as sk

In [3]:
data_soci = pd.read_csv('datos_socioecomicos.csv')
data_soci.head()

,id_persona,genero,edad,nacionalidad,categoria_municipio,ingresos,actividad
0,1,otro,23,1,2,2485189,Estudiante
1,2,m,30,1,6,2608735,Estudiante
2,3,otro,40,1,2,6707869,Independiente
3,4,otro,26,2,4,13526365,Independiente
4,5,m,34,1,6,11332100,Ama de casa